@import "tailwindcss";

:root {
  --background: rgb(29, 29, 31);
  --foreground: #fff;
  --blue-color: #06c;
  --blue-color-button: #0071e3;
  --promo-bg: #0071e3;
  --red-color: rgba(255, 56, 60, 1);
  --gray-color: rgba(255, 255, 255, 0.85);

  --paragraph-size-l: 14px;
  --paragraph-size-m: 12px;

  --gray-on-black: rgba(255, 255, 255, 0.1);
  --gray-on-black-accent: rgba(255, 255, 255, 0.24);
  --gray-text: rgba(255, 255, 255, 0.6);

  --blue-background: rgba(0, 136, 255, 0.1);
  --blue-background-border: rgba(0, 136, 255, 0.24);

  --red-background: rgba(255, 56, 60, 0.1);
  --red-background-border: rgba(255, 56, 60, 0.24);

  --clr-red: #ff383c; /* R255 G56  B60  */
  --clr-orange: #ff8d28; /* R255 G141 B40  */
  --clr-yellow: #ffcc00; /* R255 G204 B0   */
  --clr-green: #34c759; /* R52  G199 B89  */
  --clr-teal: #00c8b3; /* R0   G200 B179 */
  --clr-cyan: #00c3d0; /* R0   G195 B208 */
  --clr-sky: #00c0e8; /* R0   G192 B232 */
  --clr-blue: #0088ff; /* R0   G136 B255 */
  --clr-indigo: #6155f5; /* R97  G85  B245 */
  --clr-purple: #cb30e0; /* R203 G48  B224 */
  --clr-rose: #ff2d55; /* R255 G45  B85  */
  --clr-brown: #ac7f5e; /* R172 G127 B94  */

  --footer-gray-text: rgba(255, 255, 255, 0.56);
  --footer-background: rgb(29, 29, 31);
  --footer-border-color: rgba(255, 255, 255, 0.24);
  --footer-text-color: rgba(255, 255, 255, 0.56);
  --footer-link-color: rgba(255, 255, 255, 0.8);
  --footer-link-color-black: rgba(0, 0, 0, 0.72);
  --footer-pipe-color: rgba(255, 255, 255, 0.4);
  --footer-directory-title-color: rgba(255, 255, 255, 0.92);
  --footer-directory-title-color-black: rgba(0, 0, 0, 0.88);
  --footer-directory-title-color-hover: #fff;

  --globalnav-submenu-header-color: rgb(134, 134, 139);
  --globalnav-submenu-header-color-dark: rgb(110, 110, 115);
  --globalnav-color-secondary: #e8e8ed;
  --r-globalnav-color: #000000cc;

  --globalnav-color: rgba(0, 0, 0, 0.8);
  --globalnav-background-opened: #fafafc;
  --globalnav-color-secondary-dark: #333336;

  --footer-background-black: rgb(245, 245, 247);
  --footer-text-color-black: rgba(0, 0, 0, 0.56);
  --footer-border-color-black: rgba(0, 0, 0, 0.16);

  --mobile-header-bg-black: rgba(0, 0, 0, 0.72);
  --mobile-header-bg: rgba(250, 250, 252, 1);

  --page-width: 1000px;
  --sm-page-width: 820px;
  --black-h1-color: #1d1d1f;

  --gray-color-faq: #86868b;
  --faq-border-color: #d2d2d7;
  --general-bg: #161617;

  --ribbon-background-color: #1b1b1b;
  --ribbon-text-color: #ccc;
  --ribbon-link-color: #0066cc;
  --ribbon-focus-color: rgba(0, 125, 250, 0.6);
  --ribbon-link-color-initial: white;

  --feature-scroll-color: rgb(29, 29, 31);

  --town-showcase-bg: #f5f5f7;

  --h1-title-size: 68px;
  --desc-color-gray: #86868b;

  --h1-color: #fff;

  --under-footer-color: #222;

  --link-color: #2997ff;
  --highlights-bg: #161617;

  --white-color-on-black-bg: #f5f5f7;
}

html {
  min-height: 100%;
}

body {
  background: #fff;
  color: var(--foreground);
  transition: 0.3s ease;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  font-family: Inter, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
}

strong {
  color: var(--black-h1-color) !important;
  font-weight: 500 !important;
}
