.footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
}

.footerBlack {
  background: var(--footer-background-black);
  color: var(--footer-text-color-black);
}

.container,
.containerBlack {
  max-width: var(--page-width);
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gridFooter {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  border-top: 1px solid rgba(148, 163, 184, 0.15);
  border-bottom: 1px solid rgba(148, 163, 184, 0.15);
  padding: 17px 0;
}

.gridFooterBlack {
  border-top: 1px solid var(--footer-border-color-black);
  border-bottom: 1px solid var(--footer-border-color-black);
  padding: 17px 0;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.footerTitle {
  color: #e2e8f0;
  font-size: var(--paragraph-size-m);
  font-weight: 600;
  margin-bottom: 10px;
}

.footerTitleBlack {
  color: var(--footer-directory-title-color-black);
  font-size: var(--paragraph-size-m);
  font-weight: 600;
  margin-bottom: 10px;
}

.footerList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  color: var(--footer-link-color);
}

.footerListBlack {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  color: var(--footer-link-color-black);
}

.item + .item {
  margin-top: 8px;
}

.footerLinks {
  font-size: var(--paragraph-size-m);
  text-decoration: none;
}
.footerLinks:hover,
.footerLinksBlack:hover {
  text-decoration: underline;
}

.footerLinksBlack {
  font-size: var(--paragraph-size-m);
  text-decoration: none;
  color: var(--footer-link-color-black);
}

.accordions {
  display: none;
  border-bottom: 1px solid var(--footer-border-color);
}

.details {
  border-top: 1px solid var(--footer-border-color);
  transition: transform 220ms ease;
}

.chevron {
  transition: transform 0.3s ease;
}

.details[open] .footerList,
.details[open] .footerListBlack {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.details[open] .chevron {
  transform: rotate(90deg);
}

.footerSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-weight: 400;
  height: 36px;
  font-size: 12px;
  color: #e2e8f0;
  border-bottom: 1px solid var(--footer-border-color);
  transition: transform 220ms ease;
}
.footerSummary::-webkit-details-marker,
.footerSummaryBlack::marker {
  display: none;
}

.footerSummaryBlack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-weight: 400;
  height: 36px;
  font-size: 12px;
  color: var(--footer-directory-title-color-black);
  border-bottom: 1px solid var(--footer-border-color-black);
  transition: transform 220ms ease;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 18px;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 12px;
}

.copy {
  white-space: nowrap;
}
.divider {
  opacity: 0.5;
}

.smallLink {
  text-decoration: none;
  font-size: 12px;
  color: var(--footer-link-color);
}
.smallLink:hover {
  text-decoration: underline;
}

.download img {
  width: 96px;
}

.footerText {
  margin: 0 0 20px;
  color: var(--footer-gray-text);
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  line-height: 1;
  padding-top: 20px;
}

.footerTextBlack {
  margin: 0 0 20px;
  color: var(--footer-text-color-black);
  font-size: var(--paragraph-size-m);
  font-weight: 400;
  line-height: 1;
  padding-top: 20px;
}

.footerText li + li,
.footerTextBlack li + li {
  margin-top: 6px;
}

@media (max-width: 640px) {
  .footerText,
  .footerTextBlack {
    font-size: 11.5px;
  }
}

@media (max-width: 1024px) {
  .gridFooter,
  .gridFooterBlack {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 720px) {
  .gridFooter,
  .gridFooterBlack {
    display: none;
  }
  .accordions {
    display: block;
  }
  .bottom {
    gap: 10px;
  }
}
